<a href="https://www.viharatech.com"><img src="https://miro.medium.com/v2/resize:fit:828/format:webp/1*on2Bpj6A5gfd-CzaFOAZRA.jpeg"></a>

In [1]:
## Numbers

a=10
b=5
print(a)
print(b)

10
5

In [1]:
x = 3    # int
y = 5.8  # float
z = 2j # complex
print(z)
print(type(x))
print(type(y))
print(type(z))

2j
<class 'int'>
<class 'float'>
<class 'complex'>

In [2]:
#int
x = 6
y = 45897897896651
z = -6534565876

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [3]:
#float
x = 3.6
y = 4.0
z = -56.78

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [4]:
x = 56e6
y = 67E6
z = -89.9e89

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [2]:
#complex
x = 8+9j
y = 7j
z = -4j
print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [4]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)# z will be '3.0'

print(x)
print(y)
print(z)

s1
2
3.0

In [13]:
print(1> 6)
print(11 == 7)
print(15 > 8)

False
False
True

In [8]:
x = 5    # int
y = 7.8  # float
z = 6j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

5.0
7
(5+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [2]:
# Mod Operator
a= 2
b=5
print(a/b)

0.4

In [3]:
a= 7
b= 5
print(a%b)

2

In [4]:
a= 3
b= 2
print(a**b) # 3 is multiplied two times

9

In [5]:
a=2
b=10
c=10
d=5
print(2+10*10+5)

107

In [6]:
# Division and Multiplication has highest priority
# These operators work from left two right
(5+((20/4)*2)-7)

8.0

In [3]:
print(10+((20/4)*5)-9)

26.0

In [19]:
#implicit type conversion
x=10
print("x is of type:",type(x))
y= 10.5
print("y is of type:",type(y))
z= x+y
print(z)

x is of type: <class 'int'>
y is of type: <class 'float'>
20.5

In [3]:
#implicit type conversion
num_int = 123
num_flo = 1.23

num_new = num_int + num_flo

print(type(num_int))
print(type(num_flo))

print("Value of num_new:",num_new)
print(type(num_new))

<class 'int'>
<class 'float'>
Value of num_new: 124.23
<class 'float'>

In [4]:
#convert string to integer
num_int = 123
num_str = "456"

print(type(num_int))
print(type(num_str))

print(num_int+num_str)

<class 'int'>
<class 'str'>

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [6]:
#explicit type conversion
num_int = 123
num_str = "456"

print(type(num_int))
print(type(num_str))

num_str = int(num_str)
print(type(num_str))

num_sum = num_int + num_str

print("Sum of num_int and num_str:",num_sum)
print(type(num_sum))

<class 'int'>
<class 'str'>
<class 'int'>
Sum of num_int and num_str: 579
<class 'int'>